@media screen and (min-width: 1201px) {
    .garfield {
        width:399px; height:127px;
        background:url("garfield.gif") 0 0px;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1200px) {
    .garfield {
        width:194px; height:127px;
        background:url("garfield.gif") -406px 0px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
    .garfield {
        width:201px; height:130px;
        background:url("garfield.gif") 0 -134px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
    .garfield {
        width:195px; height:127px;
        background:url("garfield.gif") -203px -134px;
    }
}
